<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="ProgramInfo" type="System.Configuration.NameValueSectionHandler" />
  </configSections>
  
  <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
  </startup>
    
  <ProgramInfo>
    <add key="ProgramVersion" value="v0.1-32-gee1e91f" />
  </ProgramInfo>
</configuration>
